.img_resize {
  width: auto;
  height: 7rem;
  margin-top:3rem;

}
.shadow-set:hover {
  transition: 0.4s;
  box-shadow: 3px 3px 5px gainsboro;
  cursor: pointer;
}
.download_btn {
  border:1px solid black;
  padding: 1rem;
  border-radius:15px 25px;
  color:black;
  text-align: center;
  font-size:16px;
  font-weight:bold;
  justify-self: center;
  width: 10rem;
  align-self: center;

}

.download_btn:hover {
  cursor: pointer;
  background-color: darkcyan;
  transition: 0.2s;
  transform:scale(1.05) ;
}
.hover_me {
  width:20rem;
  height: auto;
}

.hover_me:hover{
  transition:0.4s;
  cursor: pointer;
  transform:scale(1.01);
  box-shadow: 1px 1px 12px lightgrey;
}
#change_font {
  font-family: 'Gabriela', ;

}
#signature {
  font-family: 'Meie Script', ;
}
.mycard {
    width:20rem;
    height: auto;
}
.card:hover {
  transition: 0.4s linear;
  box-shadow: 4px 1px 12px lightgrey;
  cursor: pointer;
  transform: scale(1.02);

}
.bdr {
  border-top: 2px solid black;
}
.img-resize {
  width:2rem;
  height:2rem;
}
.img-resize:hover {
  transform: rotateZ(360deg);
  transition: 2s linear;
}
.outside {
  height:13rem;
  border:1px solid black;
  width: 13rem;
  border-radius: 50%;
  display: flex;
  background-color: rgb(114, 114, 255);
  justify-content: center;
  align-items: center;
  border:20px solid rgb(216, 216, 221);
}
.outside:hover {
  cursor: progress;
  transform: rotateY(360deg);
  transform-origin: center;
  border:20px solid rgb(255, 154, 154);


}
h1 {
  font-family: 'Abril Fatface', ;
}

.inside {
  text-align: center;
  padding:20px;
  font-size: 3.3rem;
}
.flx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}