.fixed {
  background: fixed;
  position: fixed;
  width: 100%;
}
.transparent {
  background: transparent;
}
a {
  text-decoration: none;
}

h1, h3 {
  font-family: 'barlow';
}
.img_div {
  border:10px solid rgb(0, 0, 0, 0.1);
  overflow: hidden;
  width:auto;
  height: 21rem;
  border-radius: 50%;
}
p {
  font-family: 'sans-serif', ;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
}

.margin {
  margin-left: 1px;
}

.header {
  background: rgb(116, 114, 255);
  color: white;
  padding: 7px;
  border-radius: 22px 6px;
}
#poppin{
  font-family: 'Berkshire Swash', ;
}

@media screen and (max-width: 390px) {
  h1 {
    font-size: 2rem;
    font-family: "Gayathri", sans-serif;
  }
  h2 {
    font-size: 1rem;
  }
}
